{% extends "base.html" %}

{% block title %}蔡斌和吴丽丽的婚礼邀请{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/invitation.css" />
<link href='http://fonts.useso.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="bg normal-bg"></div>
<div class="bg blur-bg"></div>

<article>
    <section id="intro">
        <p class="us">Bin & Lili</p>
        <p class="married">are getting married!</p>
        <p class="info">
            <span class="date info-item">
                <i class="glyphicon glyphicon-calendar"></i>
                2014年8月15日
            </span>
            <span class="location info-item">
                <i class="glyphicon glyphicon-map-marker"></i>
                潍坊钧瀚国际大酒店
            </span>
        </p>
        <p class="scroll-down">
            <i class="glyphicon glyphicon-chevron-down"></i>
        </p>
    </section>

    <section id="invitation">
        <p class="invitation-content">{{ user.display_name }}:</p>
        <p class="invitation-content">
        当我们开始写这封邀请函的时候，距离婚期已经只有不到半个月了。在此之前我们几乎搜遍了整个互联网，想找一些有创意的电子请帖服务，但始终没有找到特别合适的，于是我们想干脆自己做一个吧，然后便有了{{ you }}现在所看到的这个网站。做的有些粗糙，还望见谅。
        </p>
        <p class="invitation-content">
        正如{{ you }}已经知道或料到的，我们要结婚了。婚礼将于2014年8月15日中午在潍坊钧瀚国际大酒店举行。我们诚挚地邀请{{ you }}到现场见证这一幸福时刻。很抱歉那是一个周五，如果要来参加婚礼可能需要请1-2天假。
        </p>
        <p class="invitation-content">
        如果{{ you }}提前订好了火车票或者机票，请记得提前告诉我们，以便我们安排酒店和接车（机）。{{ you }}也可以在下面找到婚礼现场的具体地址。
        </p>
        <p class="invitation-content">
        期待{{ you }}的光临！
        </p>
        <p class="us">
        蔡斌&吴丽丽
        </p>
    </section>

    <section id="location">
        <h3>婚礼现场地址</h3>
        <div id="map-content"></div>
        <p class="location-link">
            <a href="http://j.map.baidu.com/vK-ro" target="_blank">在百度地图中打开</a>
        </p>
    </section>
</article>
{% endblock %}

{% block js %}
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script type="text/javascript">
    $(window).scroll(function() {
        var height = $(window).height();
        var oVal = 1 - ($(window).scrollTop() / height);
        $('.blur-bg').css('opacity', oVal);
    });
</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("map-content");//在百度地图容器中创建一个地图
        var point = new BMap.Point(119.168211,36.658964);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
    var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_SMALL});
    map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
    var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:0});
    map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
    var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
    map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"钧瀚国际大酒店",content:"地址：坊子区北海路南路49号（北海路与凤凰街交叉路口东北角）&nbsp;<br/>电话：(0536)7668888",point:"119.167924|36.659094",isOpen:0,icon:{w:23,h:25,l:115,t:21,x:9,lb:12}}
         ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
            
            (function(){
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click",function(){
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open",function(){
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close",function(){
                    _marker.getLabel().show();
                })
                label.addEventListener("click",function(){
                    _marker.openInfoWindow(_iw);
                })
                if(!!json.isOpen){
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>
{% endblock %}
