{% extends "base.html" %}

{% block title %}蔡斌和吴丽丽的婚礼邀请{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/invitation.css" />
<link href='http://fonts.useso.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="bg normal-bg"></div>
<div class="bg blur-bg"></div>

<article>
    <section id="intro">
        <p class="us">Bin & Lili</p>
        <p class="married">are getting married!</p>
        <p class="info">
            <span class="date">
                <i class="glyphicon glyphicon-calendar"></i>
                2014年8月15日
            </span>
            <span class="location">
                <i class="glyphicon glyphicon-map-marker"></i>
                潍坊钧瀚国际大酒店
            </span>
        </p>
    </section>
</article>
{% endblock %}

{% block js %}
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script type="text/javascript">
    $(window).scroll(function() {
        var height = $(window).height();
        var oVal = 1 - ($(window).scrollTop() / height);
        $('.blur-bg').css('opacity', oVal);
    });
</script>
{% endblock %}
