{% extends "base.html" %}

{% block title %}蔡斌和吴丽丽的婚礼邀请{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/login.css" />
{% endblock %}

{% block content %}
    <form class="login-form" method="post">
        {{ form.hidden_tag() }}
        {{ form.name(class='login-field login-name', placeholder='请输入您的姓名', autocomplete='off', autofocus='autofocus') }}
        <input class="login-field submit" type="submit" value="查看邀请函" />
    </form>
    {% if form.name.errors %}
    <ul class="errors">
        {% for error in form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
