.bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.normal-bg {
    background-image: url('http://ww2.sinaimg.cn/large/620603d0jw1eiv9lkkh6uj20zk0kawok.jpg');
}

.blur-bg {
    background-image: url('http://ww4.sinaimg.cn/large/620603d0jw1eiqor3kp8nj20zk0ka77p.jpg');
}

#bg-blur {
}

article {
    position: relative;
    width: 100%;
}

section {
    margin: 0 auto 200px;
    width: 50%;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    color: #fff;
}

#intro {
    margin-top: 200px;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Love Ya Like A Sister', STKaiTi, cursive;
    font-size: 48px;
    width: 100%;
    height: 730px;
    line-height: 1;
    background: none;
    padding: 0;
}

#intro .us {
    font-size: 128px;
}

#intro .info {
    margin: 100px auto 0;
    padding: 20px 0;
    font-size: 24px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    width: 60%;
}

#intro .info .info-item {
    margin: 0 30px;
}

#intro .scroll-down {
    font-size: 24px;
    margin-top: 100px;
}

#invitation {
    font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    letter-spacing: 0.5px;
}

#invitation .us{
    text-align: right;
}

.invitation-content {
    margin: 30px 0;
}

.glyphicon {
    vertical-align: text-top;
}

#location #map-content {
    height: 500px;
}

#location h3 {
    margin: 0 0 30px 0;
    font-weight: normal;
}

.location-link {
    margin-top: 10px;
    text-align: center;
}

.location-link a {
    color: #fff;
    text-decoration: none;
}

.location-link a:hover {
    color: #ff7676;
}


@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
    .blur-bg {
        background-image: url('http://ww2.sinaimg.cn/large/620603d0jw1eiyfkhfcubj20dc0ka75k.jpg');
    }

    .normal-bg {
        background-image: url('http://ww4.sinaimg.cn/large/620603d0jw1eiyfmxhg35j20dc0kan19.jpg');
    }

    section {
        margin: 0 auto 30px;
        width: 80%;
        padding: 5px 10px;
    }

    #intro {
        margin-top: 120px;
        font-size: 24px;
     }
    #intro .us {
        font-size: 64px;
    }
    #intro .info {
        margin-top: 80px;
        font-size: 18px;
        width: 80%;
    }
    #intro .info .info-item {
        display: block;
        margin-bottom: 20px;
    }
    #intro .info .location {
        margin-bottom: 0;
    }
    #intro .scroll-down {
        margin-top: 30px;
    }

    #invitation {
        font: 400 14px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
        margin-bottom: 100px;
    }
    .invitation-content {
        margin: 10px 0;
    }

    #location {
        margin-bottom: 70px;
    }
    #location #map-content {
        height: 300px;
    }
    #location h3 {
        margin: 0 0 5px 0;
    }
    .location-link {
        margin-top: 10px;
        font: 400 14px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 768px) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait) {
    .blur-bg {
        background-image: url('http://ww2.sinaimg.cn/large/620603d0jw1eiyhxkxqvij20lc0sg774.jpg');
    }

    .normal-bg {
        background-image: url('http://ww1.sinaimg.cn/large/620603d0jw1eiyhz5xwtwj20lc0sgahz.jpg');
    }

    section {
        width: 80%;
    }

    #intro .info {
        margin-top: 150px;
    }
    #intro .info .info-item {
        display: block;
        margin-bottom: 20px;
    }
    #intro .info .location {
        margin-bottom: 0;
    }
}
