.bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.normal-bg {
    background-image: url('http://ww2.sinaimg.cn/large/620603d0jw1eiv9lkkh6uj20zk0kawok.jpg');
}

.blur-bg {
    background-image: url('http://ww4.sinaimg.cn/large/620603d0jw1eiqor3kp8nj20zk0ka77p.jpg');
}

#bg-blur {
}

article {
    position: relative;
    width: 100%;
}

section {
    margin: 0 auto 200px;
    width: 50%;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 10px;
    color: #fff;
}

#intro {
    margin-top: 200px;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Love Ya Like A Sister', STKaiTi, cursive;
    font-size: 48px;
    width: 100%;
    height: 730px;
    line-height: 1;
    background: none;
    padding: 0;
}

#intro .us {
    font-size: 128px;
}

#intro .info {
    margin-top: 100px;
    font-size: 26px;
    color: #ff7676;
}

#intro .info .info-item {
    margin: 0 30px;
}

#intro .scroll-down {
    font-size: 24px;
    margin-top: 150px;
}

#invitation {
    font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    letter-spacing: 0.5px;
}

#invitation .us{
    text-align: right;
}

.invitation-content {
    margin: 30px 0;
}

.glyphicon {
    vertical-align: text-top;
}

#location #map-content {
    height: 500px;
}

#location h3 {
    margin: 0 0 30px 0;
    font-weight: normal;
}

.location-link {
    margin-top: 10px;
    text-align: center;
}

.location-link a {
    color: #fff;
    text-decoration: none;
}

.location-link a:hover {
    color: #ff7676;
}
