#content {
    width: 100%;
    height: 730px;
    background-image: url('http://ww4.sinaimg.cn/large/620603d0jw1eiqor3kp8nj20zk0ka77p.jpg');
    background-size: cover;
}

.login-form {
    margin: 0 auto;
    padding-top: 300px;
    width: 400px;
}

.login-field {
    width: 400px;
    height: 50px;
    color: #fff;
    padding: 0 5px;
    border-radius: 10px;
    text-align: center;
}

.login-name {
    background: rgba(0, 0, 0, 0.3);
    width: 390px;
}

.submit {
    color: #f95d52;
    border: 1px solid #f95d52;
    background: none;
    margin-top: 30px;
    cursor: pointer;
}

.submit:hover {
    background: #f95d52;
    color: #fff;
}

.errors {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: rgba(252, 248, 227, 0.7);
    border-top: 1px solid #fbeed5;
    border-bottom: 1px solid #fbeed5;
    color: #c09853;
    padding: 10px 0;
    margin: 0;
}

@media only screen and (min-device-height: 801px) {
    #content {
        height: 1107px;
    }
    .login-form {
        padding-top: 350px;
    }
}

@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone only */
    #content {
        background-image: url('http://ww2.sinaimg.cn/large/620603d0jw1eir5vbisx8j20dc0kaabc.jpg');
        background-size: cover;
        height: 568px;
    }
    .login-form {
        padding-top: 200px;
        width: 250px;
    }
    .login-field {
        width: 250px;
    }
    .login-name {
        width: 240px;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 768px) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait) {
    #content {
        background-image: url('http://ww1.sinaimg.cn/large/620603d0jw1eir8uxka8aj20lc0sg41c.jpg');
        height: 1024px;
    }
}
