#content {
    width: 100%;
    height: 730px;
    background: url('http://ww4.sinaimg.cn/large/620603d0jw1eiqor3kp8nj20zk0ka77p.jpg') no-repeat;
}

.login-form {
    margin: 0 auto;
    padding-top: 300px;
    width: 400px;
}

.login-field {
    width: 400px;
    height: 50px;
    color: #fff;
    padding: 0 5px;
    border-radius: 10px;
    text-align: center;
}

.login-name {
    background: rgba(0, 0, 0, 0.3);
    width: 390px;
}

.submit {
    color: #f95d52;
    border: 1px solid #f95d52;
    background: none;
    margin-top: 30px;
    cursor: pointer;
}

.submit:hover {
    background: #f95d52;
    color: #fff;
}

.errors {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: rgba(252, 248, 227, 0.7);
    border-top: 1px solid #fbeed5;
    border-bottom: 1px solid #fbeed5;
    color: #c09853;
    padding: 10px 0;
    margin: 0;
}
