<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="诚挚的邀请你来参加蔡斌和吴丽丽的婚礼，共同见证这一幸福时刻。" name="description"/>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="shortcut icon" href="/static/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="wrapper">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% block js %}
{% endblock %}
</body>
</html>
